extends layout 

block content 
  h1= title
  if items.length > 0
    ul 
      for item in items
        li
          a(href= item.url)= item.name
  else 
    p No Associated items
      button
        a(href="/items/new") Add items
      button
        a(href=`/categories/delete/${category._id}`) Delete category?