extends layout

block content
  h1= Plant Inventory
  nav 
    a(href="/categories") Categories
    a(href="/categories/new") Create Category
    a(href="/items") Items
    a(href="/items/new") Create Item
